

ALCHEMY_RINKEBY_API_URL=<apply from alchemy website>

METAMASK_RINKEBY_PRIVATE_KEY=<you test wallet private key. Caution: DO NOT USE YOU OLD WALLET, CREAT A NEW ONE>

ETHERSCAN_API_KEY=<apply from etherscan website>


REACT_APP_CONTRACT_ADDRESS=<after run deploy.js get the contract address>

REACT_APP_NFT_STORAGE_API_KEY=<apply from nft.storage website>